#intro {
  background: url("../img/dick_fosbury.jpg") no-repeat top right;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #3949ab !important;
}

.navbar:not(.top-nav-collapse) {
  background-color: #3949ab !important;
}

#navbarContent{
  text-align: center;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3949ab !important;
  }
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.hm-gradient .full-bg-img {
  background: rgba(57,73,171, 0.93);
}


@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

#info .lead {
  opacity: 0.7;
}

#info ul li {
  font-size: 1.1em;
}

.googlemap {
position: relative;
padding-bottom: 45%;
padding-top: 30px;
height: 0;
overflow: hidden;
}
 
.googlemap iframe,
.googlemap object,
.googlemap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
max-height: 300px;
}
